body {
    padding-top: 50px;
    padding-bottom: 20px;
	background-color: #00FFCC;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

fieldset { 
    display: inline;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 5px;
}

.ProfilPicture {
height:200px;
width:150px;
}
.SmallPicture {
height:80px;
width:50px;
}
div.border {
	border-style: solid;
    border-width: medium;
	display:inline-flexbox;
}
td.picture {
padding-left: 0px;
padding-top:0px;
}
td.delete {
padding-right: 0px;
padding-top:0px;
}
td.text {
width:60%
}
td.rate {
width:15%;
}
td.detailPicture {
width:20%;
}
table.container {
	width: 100%;
}
div.green {
background-color:#0DFFB1; /*#00FF66;*/
}
.submit {
background-color:#FFD6FF;
}
